In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from env import host, username, password
from pydataset import data
import os
from env import get_db_url
from aquire import get_titanic_data, get_iris_data
import scipy

In [ ]:
##In a jupyter notebook, classification_exercises.ipynb, 
##use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. 
##Create a pandas dataframe, df_iris, from this data.

In [ ]:
df_iris = data('iris')

In [ ]:
#1a.) print the first 3 rows

df_iris.head(3)

In [ ]:
#1b.) print the number of rows and columns (shape)

df_iris.shape

In [ ]:
#1c.) print the column names

list(df_iris)

In [ ]:
df_iris.columns.to_list()

In [ ]:
#1d.) print the data type of each column
df_iris.dtypes

In [ ]:
#1e.) print the summary statistics for each of the numeric variables. 
 #Would you recommend rescaling the data based on these statistics?
    
stats = df_iris.describe().T
stats

In [ ]:
##Not seeing a need to rescale2.) Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

df_excel = pd.read_csv('Spreadsheets_Exercises.csv')
df_excel_sample = df_excel.head(100)

numeric = df_excel_sample.select_dtypes(include = ['int64', 'float64'])
temp = numeric.describe()
temp.to_markdown

In [ ]:
#2c.) print the first 5 column names
print(list(df_excel)[0:5])

In [ ]:
#2d.) print the column names that have a data type of object
print(df_excel.columns[df_excel.dtypes==object])

In [ ]:
#2e.) compute the range for each of the numeric variables.

In [ ]:
stats_ex = df_excel.describe().T
stats_ex['range'] = stats_ex['max'] - stats_ex['min']
stats_ex

In [ ]:
df_excel.select_dtypes('number').max() - df_excel.select_dtypes('number').min()

In [ ]:
#3.) https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing
#Turn into df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)

In [ ]:
#3a.) print the first 3 rows
df_google.head(3)

In [ ]:
df_google.shape

In [ ]:
#3c.) print the column names
print(df_google.columns.to_list())

In [ ]:
#3d.) print the data type of each column
df_google.dtypes

In [ ]:
##print the summary statistics for each of the numeric variables

df_google.describe().T

In [ ]:
#3f.) print the unique values for each of your categorical variables

for col in df_google.columns:
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

In [ ]:
df_google.Survived.value_counts(dropna=False)

In [ ]:
df_google.Survived.value_counts(dropna=False)

In [ ]:
df_google.Sex.value_counts(dropna=False)

In [ ]:
df_obj_only = df_google.select_dtypes(include='object')
for i in df_obj_only.columns:
     print(df_google[i].unique())

In [ ]:
titanic_df = get_titanic_data()

In [ ]:
iris_df = get_iris_data()

In [ ]:
os.path.isfile('titanic_df.csv')

In [ ]:
titanic_df.to_csv('titanic_df.csv')

In [ ]:
iris_df.to_csv('iris_df.csv')

In [ ]:
titanic_df.describe().T

Exercises
The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

Using the Iris Data:

Use the function defined in acquire.py to load the iris data.

Drop the species_id and measurement_id columns.

Rename the species_name column to just species.

Create dummy variables of the species name.

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

import aquire

In [ ]:
iris_df = aquire.get_iris_data()

In [ ]:
#2.) Drop the species_id and measurement_id columns.
iris_df = iris_df.drop(columns = ['species_id', 'measurement_id'])
iris_df

In [ ]:
#3.) Rename the species_name column to just species.
iris_df.rename(columns=({'species_name': 'species'}))

In [ ]:
#4.) Create dummy variables of the species name.

In [ ]:
pd.get_dummies(iris_df, prefix = ['species'])

In [ ]:
#5.) Create a function named prep_iris that accepts the untransformed iris data, 
#and returns the data with the transformations above applied.

def clean_iris_data(iris_df):
    iris_df = iris_df.drop(columns = ['species_id', 'measurement_id'])
    iris_df = iris_df.rename(columns=({'species_name': 'species'}))
    iris_df = pd.get_dummies(iris_df, prefix = ['species'])
    return iris_df

In [ ]:
def prep_iris(iris_df):
    iris_df = clean_iris_data(iris_df)
    return iris_df

In [ ]:
df = get_iris_data()
df

In [ ]:
clean_iris_data(df)

In [ ]:
prep_iris(df)

In [ ]:
from Prepare import clean_data, prep_iris

In [ ]:
clean_data(df)

In [ ]:
prep_iris(df)